<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/for_informations.css') }}">
</head>
<body>
  <div id = "content">
    <h1>Добро пожаловать на наш сайт!</h1>
    <p>
      Хотите работать в сфере IT, но не знаете какую профессию выбрать и на кого пойти учиться? Тогда наш сайт поможет вам.
      <br>

      Многообразие возможностей и изобилие информации чаще всего дезориентирует абитуриентов. Вчерашние школьники теряются, не могут определиться и в итоге совершают множество ошибок при поступлении, выбирая не ту сферу деятельности и не ту профессию, которую им действительно хотелось бы. Позже приходит разочарование, а изменить что-то либо уже поздно, либо трудно психологически.
      <br>

      Подобные ошибки пагубно сказываются на дальнейшей судьбе студентов. Поэтому важно как можно раньше и наиболее точно определиться с будущей профессией, чтобы учеба и работа после ВУЗа были в радость. Чем больше удовлетворения приносит вам ваша профессия, тем больше вы счастливы, тем больше у вас появляется мотивации для развития в данной области и тем более ценным специалистом вы становитесь.
      <br>

      Как сделать правильный выбор? Подумайте, в какой сфере вы хотите работать и изучите все возможные варианты. В этом вам может помочь наш сайт.
      <br>

      Введите в строку поиска, чем вы хотите заниматься в IT, и вы увидите профессии, востребованные работодателями на данный момент, и факультеты Московского Политеха, на которых вы можете их получить.
      <br>

      Мы, студенты-первокурсники Политеха, разработали этот сайт, чтобы помочь выпускникам школ сделать верный выбор своей будущей профессии. Поскольку мы сами уже прошли этот путь и приняли правильные для себя решения, то можем помочь сделать это другим, используя приобретенный опыт и знания, полученные в Московском Политехе.
      <br>

      Надеемся, что наша разработка поможет абитуриентам, убережет их от ошибок и покажет путь в светлое и счастливое профессиональное будущее.
      <br>
      С наилучшими пожеланиями, студенты первого курса факультета Информационных технологий Московского Политеха.

      <br>
      Информация для выдачи предоставлена сайтами hh.ru и mospolytech.ru</p>
      <img src="http://www.daralmarjaan.com/images/about.png" alt="">
    </div>
  </body>
  </html>
