<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/for_informations.css') }}">
</head>
<body>
  <div id = "content">
    <h1>Перспективы</h1>
    <p>
      Мы планируем развиваться и дальше! <br>
      Наши планы: <br>
      &bull; Расширить список тэгов; <br>
      &bull; увеличить количество направлений обучения; <br>
      &bull; подключиться к словарю синонимов университета. <br>
    </p>
      <img src="https://cdn.pixabay.com/photo/2016/06/26/23/32/contract-1481586_960_720.png" alt="">
    </div>
  </body>
  </html>
