<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>search page</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
</head>
<body>
  <script type="text/javascript">
    var       request_result  = "{{ url_for('.request_result') }}";
    var       download_page   = "/download-result/";
  </script>
  <div class='container'>
    <div id='app'>
      <div class='tagHere'></div>
      <input type="text" autofocus placeholder="<tab> for create tag" />
    </div>
  </div>
  <div class='note'>ENTER FOR SUMBIT</div>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>

</body>

</html>
